--master_addresses={{ Yb1 }}:7100,{{ Yb2 }}:7100,{{ new }}:7100
--rpc_bind_addresses={{ private_ip }}:7100
--fs_data_dirs={{ yugabyte_base_path }}/mydisk1,{{ yugabyte_base_path }}/mydisk2
--placement_cloud=aws
--placement_region=us-west-1
--placement_zone=us-west-1b
