--tserver_master_addrs={{ Yb1 }}:7100,{{ Yb2 }}:7100,{{ new }}:7100
--rpc_bind_addresses={{ private_ip }}:9100
--enable_ysql
--ysql_log_statement=all
--fs_data_dirs={{ yugabyte_base_path }}/mydisk1,{{ yugabyte_base_path }}/mydisk2
--placement_cloud=aws
--placement_region=us-west-1
--placement_zone=us-west-1b
